.login-popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.login-popup-container {
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-popup-title img {
  width: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.login-popup-title img:hover {
  transform: scale(1.1);
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  transition: border 0.2s ease-in-out;
}

.login-popup-inputs input:focus {
  border-color: tomato;
}

.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #d32f2f;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.login-popup-container button:hover {
  background-color: #b71c1c;
  color: white;
  box-shadow: 0 0 10px 2px rgba(192, 192, 192, 0.5);
}

.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -10px;
}

.login-popup-condition input {
  margin-top: 4px;
}
.login-popup p {
  margin: 0;
}

.login-popup p span {
  color: #d32f2f;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.login-popup p span:hover {
  color: #b71c1c;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.login-popup-container {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.signup-mode {
  animation: fadeInSlideUp 0.5s ease-in-out forwards;
}

.login-mode {
  animation: fadeInSlideUp 0.5s ease-in-out forwards;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
